.grid-container {
    display: grid;
    grid-template-columns: minmax(235px, 1fr) 2fr;
}

.total-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-column: 2/-1;
    background-color: lightcoral;
}

.income-chart {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(229, 240, 128);
}

.recent-entries {
    grid-column: 2/-1;
    background-color: rgb(128, 154, 240);
}

@media (max-width: 780px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .recent-entries {
        grid-column: 1/-1;
    }
}