* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
    scroll-behavior: smooth;
}

html {
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}

body {
    /* margin: 20px 10vw; */
    max-width: 1280px;
    display: block;
    margin: auto;
    font-size: 18px;
    /* background-color: #efffda; */
    background-image: linear-gradient(#efffda, #e4ffc1);
}

/* #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    padding: 10px;
    margin-top: 15px;
} */

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    padding: 10px;
    position: fixed;
    background-color: #efffdaa4;
    z-index: 99;
    /* filter: blur(3px) */
}

#nav a {
    text-decoration: none;
    color: black;
}

#nav a:hover {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

#nav:hover {
    background-color: #efffdaff;
    transition-duration: 200ms;
}

#nav::after {
    content: " ";
    width: 140%;
    height: 65px;
    background-color: #efffdaa4;
    left: -150px;
    position: absolute;
    z-index: -1;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.075); */
}

#nav::after:hover {
    background-color: #efffdaff;
}

#logo:hover {
    cursor:pointer;
}

#section1 {
    display: flex;
}

#section1-left, #section1-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    padding: 10px;
}

#section1-left .p-light {
    max-width: 500px;
    margin-top: 10px;
}

#section1-right img {
    margin-top: 10px;
}

#section2 {
    margin-top: 100px;
    /* margin-bottom: 120px; */
    /* background-color: #e4ffc1; */
}

.h1-light {
    font-family: Inter;
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 12px;
}

.p-light {
    color: #535353;
    font-family: Inter;
    line-height: 1.4;
}

.btn-light {
    background: #35FF92;
    border: 2px solid #0F0F0F;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 8px 12px;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-weight: 700;
    box-shadow: 3px 3px 0px black;
    cursor: pointer;
    font-size: 18px;
}

.btn-light:hover {
    /* filter: brightness(90%); */
    box-shadow:5px 5px 0px black;
    transform: scale(1.01);
    transition-duration: 100ms;
}

#section2 > div:nth-child(5) {  
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 30px 10px;
    background-color: white;
    /* max-width: 250px; */
    border-radius: 3px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    font-family: 'Open Sans';
    font-weight: bold;
    text-align: center;
    /* padding: 20px; */
    max-width: 200px;

}

.card img {
    margin: 30px 10px;
}

.card div:nth-child(2) {
    background-color: #83ff9d;
    padding: 10px 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px;
    color: white;
    /* position: absolute; */
    /* margin-top: 100px; */
    font-family: 'Open Sans';
    background-color: #132215;
    font-size: 14px;
}

body > footer:nth-child(9) > div:nth-child(2) > p:nth-child(2) {
    color: #767676;
    font-size: 14px;
    text-align: right;
}

footer::after {
    content: " ";
    width: 100%;
    height: 201px;
    background-color: #132215;
    left: 0;
    position: absolute;
    z-index: -1;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

footer a:hover {
    color: rgb(224, 224, 224);
}

#close, #menu {
    display:none;
}

#smallScreenNav {
    display: none;
}



    @media (max-width:1000px) {
        .toggle {
            display: none !important;
            transition-duration: 200ms;
        }

        #smallScreenNav {
            display: block;
        }

        #nav {
            font-size: 18px;
        }

        #smallScreenNav::before {
            content: " ";
            position: fixed;
            top: 0px;
            left: 0px;
            height: 80px;
            width: 100%;
            background-color:#efffda;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.212);
            /* z-index: -1; */
        }

        #close, #menu {
            position: fixed;
            right: 20px;
            top: 30px;
            display: block;
            border: none !important;
        }

        #close:hover, #menu:hover {
            cursor: pointer;
        }

        #menu {
            z-index: 0;
        }

        #section1-right {
            position: absolute;
            right: 0;
            top: 200px;
            z-index: -1;
            opacity: 0.2;
        }

        #nav {
            margin-top: 80px;
            flex-direction: column;
            background-color: white;;
        }

        #nav:hover {
            background-color: white;
        }

        #nav div {
            /* outline: 1px solid green; */
            padding: 12px;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        #logo {
            position: fixed;
            max-width: 140px;
            left: 15px;
            top: 20px;
            border: none !important;
        }

        #nav a {
            width: 110%;
            background-color: white;
            text-align: center;
        }

        #nav a:hover {
            background-color: rgb(241, 241, 241);
            transition-duration: 200ms;
        }

        #nav::before {
            content: " ";
            width: 120%;
            height: 100vh;
            background-color: white;
            /* left: -150px; */
            position: absolute;
            top: -90px;
            z-index: -1;
        }


        /* #nav::after {
            background-color: white;
        } */

    }

    @media (max-width:780px) {
        .card-container {
            align-items: center;
        }

        .card {
            margin-bottom: 0px;
        }

        html {
            margin: 10px;
        }

        footer {
            padding: 10px 30px;
            font-size: 13px;
        }

        body {
            font-size: 14px;
        }

        .h1-light {
            font-size: 54px;
            width: auto;
            margin-bottom: 8px;
        }

        

    }